<div id="recovery">
  <form id="recovery" name="register" action="" method="post">
    <div id="input-fields">
      <h2 id="recovery-header">Password Recovery</h2>
      <div id="username">
      <input type="text" placeholder="Username" required="">
      </div>
      <h5 id="recovery-or"> - OR - </h5>
      <div id="email">
      <input type="text" placeholder="Email Address" required="">
      </div>
      <div id="controls">
      <input id="recovery-submit" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>