<div id="recovery">
  <form id="recovery" name="recovery" action="" method="post">
    <div id="input-fields">
      <h2 id="recovery-header">Password Recovery</h2>
      <div id="email">
      <input name="email" type="text" placeholder="Email Address" required="">
      </div>
      <div id="controls">
      <input id="recovery-submit" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>