<div id="register">
  <form id="register" name="register" action="" method="post">
    <div id="input-fields">
      <h2 id="register-header">User Registration</h2>
      <div id="username">
      <input type="text" placeholder="Username" required="">
      </div>
      <div id="email">
      <input type="text" placeholder="Email Address" required="">
      </div>
      <div id="password">
      <input type="password" placeholder="Password" required="">
      </div>
      <div id="confirm">
      <input type="password" placeholder="Retype Password" required="">
      </div>
      <div id="controls">
      <input id="register-submit" type="submit" value="Register">
      </div>
    </div>
  </form>
</div>