<% if email.empty? %>
   <p>Please visit <a href="/recovery">password recovery</a> if a reset is needed.</p>
<% else %>
   <p>An email was sent to <%= email %> with a code to reset your password.</p>
<% end %>
<div id="reset">
  <form id="reset" name="recovery" action="" method="post">
    <div id="input-fields">
      <h2 id="reset-header">Enter Recovery Code</h2>
      <div id="email">
      <input name="resetcode" type="text" placeholder="Recovery Code" required="">
      </div>
      <div id="controls">
      <input id="reset-submit" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>