<p>Your registration request has been received.</p>
<p>An activation email was sent to <%= email %>.</p>
<p>You'll need to <a href="/verification">verify your account</a> with the code contained in the email.</p>