<div id="verification">
  <form id="verification" name="activation" action="" method="post">
    <div id="input-fields">
      <h2 id="verification-header">Account Activation</h2>
      <div id="verification">
      <input name="verification" type="text" placeholder="Enter Code" required="">
      </div>
      <div id="controls">
      <input id="recovery-submit" type="submit" value="Activate">
      </div>
    </div>
  </form>
</div>